body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f7fa;
}

.menu-top {
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.logo-1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #2196F3;
    /* margin-left: 215px;
    margin-top: 24px;
    margin-bottom: 25px; */
    padding-left: 215px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-2 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: #000000;
    /* margin-right: 1240px; */
    padding-right: 1240px;
}

.menu-top-center {
    position: absolute;
    width: 294px;
    height: 16px;
    left: 453px;
    top: 32px;
    align-items: center;
    display: flex;
    list-style-type: none;
}

.menu-top-center-1 {
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.menu-top-center-2 {
    position: absolute;
    width: 76px;
    height: 16px;
    left: 552px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-top-center-3 {
    position: absolute;
    width: 68px;
    height: 16px;
    left: 679px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
}

.mail {
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.phone {
    position: absolute;
    width: 122px;
    height: 16px;
    left: 1263px;
    top: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}